#valores {
    height: 35px;
    margin-top: 25px;
    text-align: center;
}

#botones {
    height: 35px;
    margin-top: 30px;
    text-align: center;
}

.botones {
    padding: 10px;
    font-size: 20px;
    color: #02010e;
    background-color: #65a4eb;
    border-radius: 15px;
    border: 3px solid rgb(248, 215, 130);
    size: 30%;
}

#total {
    height: 35px;
    margin-top: 30px;
    margin-left: 25px;
    text-align: center;
}

.valores_2 {
    border-radius: 10px;
    border: 3px solid gold;
    height: 45px;
}

#resultado {
    border-radius: 10px;
    border: 3px solid gold;
    height: 45px;
    line-height: 15px;
}

#texto {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

p {
    text-align: center;
    font-family: Garamond;
    font-size: 20px;
    line-height: 12px;
}

header {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}